@font-face{
    font-family: "adineue PRO Bold";
    src: url("fonte/1938eca97ab5576ba37b537143f552ef.eot");
    src: url("fonte/1938eca97ab5576ba37b537143f552ef.eot?#iefix")format("embedded-opentype"),
        url("fonte/1938eca97ab5576ba37b537143f552ef.woff")format("woff"),
        url("fonte/1938eca97ab5576ba37b537143f552ef.woff2")format("woff2"),
        url("fonte/1938eca97ab5576ba37b537143f552ef.ttf")format("truetype"),
        url("fonte/1938eca97ab5576ba37b537143f552ef.svg")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family: DIN;
    src: url(fonte/DIN-Pro.ttf);
}

*{
    padding: 0;
    margin: 0;
    font-family: DIN;
    font-size: 12px;
}

body{
    background: white;
    height: auto;
    width: auto;
}

::-webkit-scrollbar{
    display: none;
}

header{
    height: 81px;
    background-color:rgb(255, 255, 255);
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
}

li{
    list-style: none;
}

a{
    color:#000000;
    text-decoration: none;
}

a:hover{
    color: rgb(124, 124, 124);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:20px;
    padding-bottom: 0px;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 0px;
}

.nav-link-bold{
    font-weight: bold ;
}

.nav-link{
    transition: 0.5s ease;
}

.nav-link:hover{
    color: rgb(128, 128, 128);
}

.nav-input{
    display: flex;
    align-items: center;
}

.input{
    width: 120px;
    height: 12px;
    background: #ECEFF1;
    padding: 10px;
    border: none;
    outline: none;
}

::placeholder{
    color: #000;
}

.input-button{
    width: 32px;
    height: 32px;
    background: #ECEFF1;
    border-radius: 0;
    border: none;
}

.nav-icons{
    display: flex;
    align-items: center;
    margin-top: 0px;
    gap: 40px;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    margin: 5px auto;
    background-color: #000000;
    transition: all 0.3s ease-in-out;
}

@media (max-width:500px){

    .nav-icons{
        display: none;
    }

   .hamburguer{
       display: block;
   }

   .hamburguer.active .bar:nth-child(2){
       opacity: 0;
   }

   .hamburguer.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        background-color: rgb(255, 255, 255);
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    .historias{
        display: flex;
    }

}

.entre-para-o-clube{
    text-align: center;
    padding: 18px;
    background: #ECEFF1;
}
.entre-para-o-clube>p{
    font-size: 16px;
}

.banner1{
    height: 420px;
    background: url(img/mh-superstar-d_tcm194-1045811.jpg);
    background-size: cover;
}

.container1{
    height: 398px;
    width: 398px;
    padding-top: 40px;
    padding-left: 20px;
}

.container2{
    height: 398px;
    width: 398px;
    padding-top: 40px;
    padding-left: 20px;
}

.container3{
    height: 398px;
    width: 398px;
    padding-top: 120px;
    padding-left: 20px;
}

#frase1{
    color: white;
    font-family: adineue PRO Bold;
    font-size: 40px;
}
#paragrafo1{
    color: white;
    font-family: DIN;
    font-size: 18px;
}

.banner2{
    height: 438px;
    background: url(img/mh-br-d_tcm194-1042902.avif);
    background-size: cover;
}

#frase2{
    color: rgb(0, 0, 0);
    font-family: adineue PRO Bold;
    font-size: 40px;
}
#paragrafo2{
    color: rgb(0, 0, 0);
    font-family: DIN;
    font-size: 18px;
}


.banner3{
    height: 438px;
    background: url(img/fw23-bad-bunny-campus-chalky-brown-tease-confirmed-catlp-mh-d_tcm194-1040247.avif);
    background-size: cover;
    margin-top: 50px;
}

#frase3{
    color: white;
    font-family: adineue PRO Bold;
    font-size: 40px;
}
#paragrafo3{
    color: white;
    font-family: DIN;
    font-size: 18px;
}

.banner-button{
    width: 208px;
    text-align: center;
    padding: 16px;
    border: none;
    border-radius: 0px;
    margin-top: 20px;
}

.banner-button>h1{
    font-size: 14px;
}

span{
    display: none;
}

.dia-dos-pais{
    margin-top: 50px;
    height: 315px;
    width: 100%;
    background: #BDEDFF;
    padding-top: 50px;
    padding-bottom: 50px;
}

.texto{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.frase4{
    font-size: 36px;
    font-family: adineue PRO Bold;
    margin-right: 70px;
}

.paragrafo4{
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

.historias{
    background: #F5F5E5;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.história1{
    margin-right: 20px;
    margin-top: 20px;
}

.historias-p1{
    font-size: 16px;
    margin-bottom: 10px;
}
.historias-p2{
    font-size: 16px;
}
.titulo1{
    font-size: 36px;
    font-family: adineue PRO Bold;
}
.titulo2{
    font-size: 36px;
    font-family: adineue PRO Bold;
}
.história2{
    margin-top: none;
}